body,
a,
p {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.header {
    background-color: black;
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__inner-div {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 25%;
    }

    &__logo {
        bottom: 0;
        position: absolute;
        left: 5%;
        color: white;
        font-size: 35px;
    }

    &__input-search {
        padding: 2px 10px 0px 50px;
        font-size: 16px;
        width: 300px;
        height: 40px;
        border-radius: 15px;
        outline: none;
        background: url(/public/img/search.png) no-repeat 15px 7px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
        background-color: rgb(247, 247, 247);

        &:focus {
            border: #0d6efd solid;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    &__button {
        bottom: 0;
        position: absolute;
        padding: 7px 23px;
        font-size: 18px;
        border-radius: 5px;
        color: #fff;
        background-color: #0d6efd;
        font-weight: bold;

        &-save {
            right: 55px;
        }

        &-load {
            right: 165px;
        }

        &:hover {
            background-color: #004fc5;
        }
    }
}

.sidebar {
    /* display: inline-block; */
    z-index: 2;
    position: fixed;
    top: 100px;
    /* margin-top: 100px; */
    height: 577px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 230px;
    background-color: #e7e9eb;

    &__element {
        font-size: 18px;
        text-align: center;
        display: block;
        padding: 5px 0px;
    }
}

.sidebar__button_hidden {
    z-index: 1;
    position: fixed;
    background: url(/public/img/menu-sharp.svg) no-repeat;
    top: 65px;
    left: 0px;
    width: 35px;
    height: 35px;
    background-color: #0d6efd;
    border-color: #004fc5;
    display: none;

    &:hover {
        background-color: #004fc5;
    }
}

.main {
    display: inline-block;
    margin-top: 200px;
    margin-left: 25%;

    &__title {
        font-size: 60px;
    }

    &__email {
        font-size: 25px;
    }

    &__text-output {
        margin: 50px 0 30px 0;
        font-size: 20px;
    }

    &__label-input {
        font-size: 20px;
    }

    &__input {
        display: block;
        padding: 10px 10px 10px 10px;
        margin-top: 2px;
        font-size: 16px;
        width: 300px;
        height: 10px;
    }
}

.main-hidden-text {
    display: inline-block;
    margin-top: 240px;
    margin-left: 23%;
    color: red;
    font-size: 60px;
    font-weight: 100;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__text {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .header {
        &__logo {
            display: none;
        }

        &__input-search {
            width: 150px;
        }

        &__button {
            margin-left: 8px;
            padding: 4px 20px;
            position: static;
        }
    }

    .sidebar {
        display: none;
        height: 500px;
        width: 40%;
        background-color: #f1f1f1;
        bottom: 0;

        &__button_hidden {
            display: block;
        }
    
    }

    .main__input {
        width: 200px;
    }
}

@media (max-width: 420px) {
    .main {
        margin-left: 10%;

        &__email {
            font-size: 20px;
        }

        &__company {
            font-size: 40px;
        }
    }

    .sidebar {
        width: 50%;
        height: 400px;
    }

    .footer {
        display: none;
    }
}

@media (min-width: 992px) {
    .sidebar {
        display: block !important;
    }
}
